#Ignoriere
/profiles/BattlEye
/profiles/DNA_Logging
/profiles/EventManagerLog
/profiles/DataCache
/profiles/KR_BANKING/ClanDataBase
/profiles/KR_BANKING/PlayerDataBase
/profiles/KR_BANKING/ServerLogs
/profiles/KR_BANKING/Admins.json
/profiles/PermissionsFramework
/profiles/Users
/profiles/VPPAdminTools/Logging
/profiles/VPPAdminTools/Exports
/profiles/VPPAdminTools/Backups
/profiles/@Logging
/profiles/ExpansionMod/ATM
/profiles/ExpansionMod/Groups
/profiles/ExpansionMod/Hardline
/profiles/ExpansionMod/Logs
/profiles/ExpansionMod/Quests/PlayerData
/profiles/ExpansionMod/Quests/PersistentServerData.JSON
/profiles/BreachingCharge/logs
/mpmissions/empty.deerisle/storage_0
/mpmissions/empty.deerisle/storage_1
/mpmissions/empty.deerisle/expansion/traderzones
/mpmissions/dayzOffline.enoch/
/mpmissions/dayzOffline.enoch/storage_0
/mpmissions/dayzOffline.enoch/storage_1
/mpmissions/dayzOffline.enoch/storage_2
/mpmissions/dayzOffline.chernarusplus
/battleye
/addons
/bliss
/Backups
/changes
/logs
/docs
/keys
/dta
/appcache
/ban.txt
/buildid
/DayZServer_x64.exe
/dayz.gproj
/dayzsetting.xml
/omega.cfg
/Recon.txt
/serverDZ.cfg
/serverDZ.cfg.active
/steam_api64.dll
/steamclient64.dll
/tier0_s64.dll
/vstdlib_s64.dll
/whitelist.txt

#Ignorier nicht.
!/profiles/
!/mpmissions/dayzOffline.enoch/
!/mpmissions/dayzOffline.enoch/CustomTypes/
!/mpmissions/dayzOffline.enoch/CustomTypes/ArtilleryStrikeGrenades/

#Ignoriere diese Dateiendungen
*.log
*.ADM
*.RPT
*.mdmp
*.vdf
*@*