#Ignoriere
/Livonia/profiles/BattlEye
/Livonia/profiles/DNA_Logging
/Livonia/profiles/EventManagerLog
/Livonia/profiles/DataCache
/Livonia/profiles/KR_BANKING/ClanDataBase
/Livonia/profiles/KR_BANKING/PlayerDataBase
/Livonia/profiles/KR_BANKING/ServerLogs
/Livonia/profiles/KR_BANKING/Admins.json
/Livonia/profiles/PermissionsFramework
/Livonia/profiles/Users
/Livonia/profiles/VPPAdminTools/Logging
/Livonia/profiles/VPPAdminTools/Exports
/Livonia/profiles/VPPAdminTools/Backups
/Livonia/profiles/@Logging
/Livonia/profiles/ExpansionMod/ATM
/Livonia/profiles/ExpansionMod/Groups
/Livonia/profiles/ExpansionMod/Hardline
/Livonia/profiles/ExpansionMod/Logs
/Livonia/profiles/ExpansionMod/Quests/PlayerData
/Livonia/profiles/ExpansionMod/Quests/PersistentServerData.JSON
/Livonia/profiles/BreachingCharge/logs
/Livonia/mpmissions/empty.deerisle/storage_0
/Livonia/mpmissions/empty.deerisle/storage_1
/Livonia/mpmissions/empty.deerisle/expansion/traderzones
/Livonia/mpmissions/dayzOffline.enoch/
/Livonia/mpmissions/dayzOffline.enoch/storage_0
/Livonia/mpmissions/dayzOffline.enoch/storage_1
/Livonia/mpmissions/dayzOffline.enoch/storage_2
/Livonia/mpmissions/dayzOffline.chernarusplus
/Livonia/battleye
/Livonia/addons
/Livonia/bliss
/Livonia/Backups
/Livonia/changes
/Livonia/logs
/Livonia/docs
/Livonia/keys
/Livonia/dta
/Livonia/appcache
/Livonia/ban.txt
/Livonia/buildid
/Livonia/DayZServer_x64.exe
/Livonia/dayz.gproj
/Livonia/dayzsetting.xml
/Livonia/omega.cfg
/Livonia/Recon.txt
/Livonia/serverDZ.cfg
/Livonia/serverDZ.cfg.active
/Livonia/steam_api64.dll
/Livonia/steamclient64.dll
/Livonia/tier0_s64.dll
/Livonia/vstdlib_s64.dll
/Livonia/whitelist.txt

#Ignorier nicht.
!/Livonia/profiles/
!/Livonia/mpmissions/dayzOffline.enoch/
!/Livonia/mpmissions/dayzOffline.enoch/CustomTypes/
!/Livonia/mpmissions/dayzOffline.enoch/CustomTypes/ArtilleryStrikeGrenades/

#Ignoriere diese Dateiendungen
*.log
*.ADM
*.RPT
*.mdmp
*.vdf
*@*